<mat-card>
  <mat-card-header>
    <mat-card-title> Course Outline </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- LESSON LIST -->
    <!-- <h2 [style.color]="themeColor">This is colored Text</h2>
    <hr />
    <h3>themeColor: {{ themeColor }}</h3>
    <mat-label>Theme Color</mat-label>
    <input matInput [(ngModel)]="themeColor" />
    <br />
    <br />
    <button mat-raised-button color="primary" (click)="updateColor()">
      Update
    </button> -->
    <mat-list>
      <mat-list-item
        *ngFor="let course of courseLessons"
        (click)="selectLesson(course)"
      >
        <h3>{{ course.title }}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Debug</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="currentLesson; else elsePart">
      {{ currentLesson | json }}
    </span>
    <ng-template #elsePart>Select a Lesson</ng-template>
  </mat-card-content>
</mat-card>
